.Read {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  gap: 50px;
  table {
    border: none;
  }
  .id {
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(225, 225, 225);
    border-right: 1px solid rgb(142, 142, 142);
    border-bottom: 1px solid rgb(142, 142, 142);
  }
  .sect {
    height: 30px;
    width: 120px;
    padding: 5px;
    background-color: white;
    border-bottom: 1px solid rgb(142, 142, 142);

    .Delete,
    .Update {
      display: flex;
      justify-content: center;
      align-items: center;
      outline: none;
      border: none;
      background-color: rgb(188, 58, 58);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.4s all;
      height: 30px;
      font-family: "Roboto", sans-serif;
      font-weight: 600;

      &:hover {
        background-color: rgb(118, 1, 1);
      }
      &:active {
        transform: translateY(10px);
      }
    }
    .Update {
      background-color: rgb(201, 145, 42);
      &:hover {
        background-color: rgb(115, 83, 23);
      }
    }
  }
  .row {
    background-color: rgb(187, 187, 187);
    border-bottom: 1px solid rgb(142, 142, 142);
  }
}
